# <b>Avaliação Bancos de Dados I</b>
---

## <b>Modelagem e normalização de bancos de dados relacionais</b>

#### Certo dia, um dos gestores do banco em que você trabalha como cientista de dados procurou você pedindo ajuda para projetar um pequeno banco de dados com o objetivo de mapear os clientes da companhia pelos diferentes produtos financeiros que eles contrataram.

#### O gestor explicou que o banco tinha uma grande quantidade de clientes e oferecia uma variedade de produtos financeiros, como cartões de crédito, empréstimos, seguros e investimentos. No entanto, eles estavam tendo dificuldades para entender quais produtos eram mais populares entre os clientes e como esses produtos estavam interagindo entre si.

#### Como ponto de partida, o gestor deixou claro que um cliente pode contratar vários produtos diferentes ao passo que um mesmo produto pode também estar associado a vários clientes diferentes e elaborou um rústico esboço de banco de dados com duas tabelas, da seguinte forma:

#### <b>Tabela 1</b>

#### Nome da tabela: cliente
#### Colunas: codigo_cliente, nome_cliente, sobrenome_cliente, telefones_cliente, municipio_cliente, codigo_tipo_cliente, tipo_cliente

#### <b>Tabela 2</b>

#### Nome da tabela: produto
#### Colunas: codigo_produto, nome_produto, descricao_produto, codigo_tipo_produto, tipo_produto, codigo_diretor_responsavel, nome_diretor_responsavel, email_diretor_responsavel

### <b>1)</b> Ainda sem fazer normalizações, apresente o modelo conceitual deste esboço oferecido pelo gestor, destacando atributos chaves e multivalorados, caso existam, e apresentando também a cardinalidade dos relacionamentos.

![Alt text](imagens/tabela_conceitual_1.png)

### <b>2)</b> Agora apresente um modelo lógico que expresse as mesmas informações e relacionamentos descritos no modelo original, mas decompondo-os quando necessário para que sejam respeitadas as 3 primeiras formas normais. Destaque atributos chaves e multivalorados, caso existam, e apresente também a cardinalidade dos relacionamentos.

#### Aplicação das 3 primeiras formas normais:

![Alt text](imagens/tabela_conceitual_normal.png)

#### Modelagem lógica:

![Alt text](imagens/modelagem_logica.png)

### Código SQL:

In [ ]:
CREATE TABLE cliente 
( 
 codigo_cliente INT PRIMARY KEY AUTO INCREMENT,  
 nome_cliente varchar(100),  
 sobrenome_cliente varchar(100),  
 municipio_cliente varchar(100)  
); 

CREATE TABLE produto 
( 
 codigo_produto INT PRIMARY KEY AUTO INCREMENT,  
 descricao_produto varchar(200),  
 nome_produto varchar(100)  
); 

CREATE TABLE tipo_cliente 
( 
 codigo_tipo_cliente INT PRIMARY KEY AUTO INCREMENT,  
 nome_tipo_cliente varchar(100)  
); 

CREATE TABLE diretor_resposavel 
( 
 codigo_diretor_responsavel INT PRIMARY KEY AUTO INCREMENT,  
 nome_diretor_responsavel varchar(100),  
 email_diretor_responsavel varchar(100)  
); 

CREATE TABLE tipo_produto 
( 
 codigo_tipo_produto INT PRIMARY KEY AUTO INCREMENT,
 nome_tipo_produto varchar(100)    
); 

CREATE TABLE cliente_produto 
( 
 codigo_produto INT,  
 codigo_cliente INT 
); 

CREATE TABLE produto_tipo 
( 
 codigo_tipo_produto INT,  
 codigo_produto INT  
); 

CREATE TABLE diretor_tipo_produto 
( 
 codigo_diretor_responsavel INT,  
 codigo_tipo_produto INT  
); 

CREATE TABLE cliente_tipo 
( 
 codigo_cliente INT,  
 codigo_tipo_cliente INT  
); 

ALTER TABLE cliente_produto ADD FOREIGN KEY(codigo_produto) REFERENCES produto (codigo_produto)

ALTER TABLE cliente_produto ADD FOREIGN KEY(codigo_cliente) REFERENCES cliente (codigo_cliente)

ALTER TABLE produto_tipo ADD FOREIGN KEY(codigo_tipo_produto) REFERENCES tipo_produto (codigo_tipo_produto)

ALTER TABLE produto_tipo ADD FOREIGN KEY(codigo_produto) REFERENCES produto (codigo_produto)

ALTER TABLE diretor_tipo_produto ADD FOREIGN KEY(codigo_diretor_responsavel) REFERENCES diretor_responsavel (codigo_diretor_responsavel)

ALTER TABLE diretor_tipo_produto ADD FOREIGN KEY(codigo_tipo_produto) REFERENCES tipo_produto (codigo_tipo_produto)

ALTER TABLE cliente_tipo ADD FOREIGN KEY(codigo_cliente) REFERENCES cliente (codigo_cliente)

ALTER TABLE cliente_tipo ADD FOREIGN KEY(codigo_tipo_cliente) REFERENCES tipo_cliente (codigo_tipo_cliente)

## <b>Consultas SQL simples e complexas em um banco de dados postgres</b>

#### Um exemplo de modelo de banco de dados com relacionamento muitos-para-muitos pode ser o de um e-commerce que tem produtos e categorias, onde um produto pode pertencer a várias categorias e uma categoria pode estar associada a vários produtos. Nesse caso, teríamos duas tabelas: "produtos" e "categorias", com uma tabela intermediária "produtos_categorias" para relacionar os produtos às suas categorias.

In [ ]:
CREATE TABLE produtos (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(100) NOT NULL,
    preco DECIMAL(10, 2) NOT NULL
);

CREATE TABLE categorias (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(100) NOT NULL
);

CREATE TABLE produtos_categorias (
    produto_id INTEGER REFERENCES produtos(id),
    categoria_id INTEGER REFERENCES categorias(id),
    PRIMARY KEY (produto_id, categoria_id)
);

### <b>3)</b> Liste os nomes de todos os produtos que custam mais de 100 reais, ordenando-os primeiramente pelo preço e em segundo lugar pelo nome. Use alias para mostrar o nome da coluna nome como "Produto" e da coluna preco como "Valor". A resposta da consulta não deve mostrar outras colunas de dados.

In [ ]:
select nome as Produto, preco as Valor 
from produtos
where preco > 100
order by preco, nome

### <b>4)</b> Liste todos os ids e preços de produtos cujo preço seja maior do que a média de todos os preços encontrados na tabela "produtos".

In [ ]:
select id as ID, preco as Valor from produtos where preco > (select avg(preco) from produtos)

### <b>5)</b> Para cada categoria, mostre o preço médio do conjunto de produtos a ela associados. Caso uma categoria não tenha nenhum produto a ela associada, esta categoria não deve aparecer no resultado final. A consulta deve estar ordenada pelos nomes das categorias.

In [ ]:
select avg(p.preco) as Média, c.nome Categoria
from produtos p
inner join produtos_categorias pc on pc.produto_id = p.id
inner join categorias c on c.id = pc.categoria_id
group by c.nome
order by c.nome

## <b>Inserções, alterações e remoções de objetos e dados em um banco de dados postgres</b>

#### Você está participando de um processo seletivo para trabalhar como cientista de dados na Ada, uma das maiores formadoras do país em áreas correlatadas à tecnologia. Dividido em algumas etapas, o processo tem o objetivo de avaliar você nos quesitos Python, Machine Learning e Bancos de Dados. Ainda que os dois primeiros sejam o cerne da sua atuação no dia-a-dia, considera-se que Bancos de Dados também constituem um requisito importante e, por isso, esta etapa pode ser a oportunidade que você precisava para se destacar dentre os seus concorrentes, demonstrando um conhecimento mais amplo do que os demais.

### <b>6)</b> Com o objetivo de demonstrar o seu conhecimento através de um exemplo contextualizado com o dia-a-dia da escola, utilize os comandos do subgrupo de funções DDL para construir o banco de dados simples abaixo, que representa um relacionamento do tipo 1,n entre as entidades "aluno" e "turma":

#### <b>Tabela 1</b>

#### Nome da tabela: aluno

#### Colunas da tabela: id_aluno (INT), nome_aluno (VARCHAR), aluno_alocado (BOOLEAN), id_turma (INT)

#### <b>Tabela 2</b>

#### Nome da tabela: turma

#### Colunas da tabela: id_turma (INT), código_turma (VARCHAR), nome_turma (VARCHAR)

In [ ]:
create table aluno (
    id_aluno int auto_increment primary key,
    nome_aluno varchar(200) not null,
    aluno_alocado boolean,
    id_turma int
)

create table turma (
    id_turma int auto_increment primary key,
    codigo_turma varchar(200) not null,
    nome_turma varchar(200) not null
)

alter table aluno add foreign key (id_turma) references turma (id_turma)

### <b>7)</b> Agora que você demonstrou que consegue ser mais do que um simples usuário do banco de dados, mostre separadamente cada um dos códigos DML necessários para cumprir cada uma das etapas a seguir:

### a) Inserir pelo menos duas turmas diferentes na tabela de turma;

In [ ]:
insert into turma (codigo_turma, nome_turma) values 
("3a", "terceiro ano A"),
("3b", "terceiro ano B")

### b) Inserir pelo menos 1 aluno alocado em cada uma destas turmas na tabela aluno (todos com NULL na coluna aluno_alocado);

In [ ]:
insert into aluno (nome_aluno, id_turma) values 
("Thiago", 1),
("Gabriel", 2)

### c) Inserir pelo menos 2 alunos não alocados em nenhuma turma na tabela aluno (todos com NULL na coluna aluno_alocado);

In [ ]:
insert into aluno (nome_aluno) values 
("João"),
("Felipe")

### d) Atualizar a coluna aluno_alocado da tabela aluno, de modo que os alunos associados a uma disciplina recebam o valor True e alunos não associdos a nenhuma disciplina recebam o falor False para esta coluna.

In [ ]:
update aluno
set aluno_alocado = case 
    when id_turma is not null then true  
    else false
end